

{% extends 'base.html' %}

{% block title %} About Me {% endblock title %}
{% load static %}

{% block content %}

<section class="about-section center-row">
    <div class="about-image-container">
        <img src="{% static './img/logo.png'%}">      
    </div>

    <div class="about-description-container">
        <div class="center-column">
            <h1>Software Engineering Student</h1>
            <h2>Miguel Cota</h2>
        </div>

        <p>Hi! I'm a passionate software development student currently enrolled in a Fullstack Bootcamp. With a strong curiosity for technology and problem-solving, I’m diving deep into the world of programming, learning to build responsive web applications and dynamic back-end systems. From writing clean, efficient code to collaborating on projects, I’m constantly honing my skills in JavaScript, React, Node.js, and other modern tools. My goal is to become a versatile developer capable of creating impactful digital experiences.</p>
        <p>When I’m not coding, you’ll often find me exploring tech blogs, working on personal projects, or experimenting with new frameworks. I enjoy tackling challenges that push me out of my comfort zone, as they help me grow both personally and professionally. As I progress in this journey, I’m excited to contribute to innovative projects and learn from the incredible tech community.</p>
        
        <div class="skills-container center-column">
            <h2>My skills</h2>

            <div class="skills-list1 center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
            </div>
        </div>
    </div>
</section>


<div class="projects">
    <h1>Projects</h1>
    <div class="project-grid">
        <div class="project-container">
            <img src="{% static './img/picture-1.jpg' %}">
            <h3 class="project-title">Project Name</h3>
            <p class="project-desc">
                A short description of the project.
                <br>
                No more than 3 lines of text. 
            </p>
            <p class="year">
                YYYY
            </p>
            <div class="skills-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
       
            </div>
        </div>
        <div class="project-container">
            <img src="{% static './img/picture-1.jpg' %}">
            <h3 class="project-title">Project Name</h3>
            <p class="project-desc">
                A short description of the project.
                <br>
                No more than 3 lines of text. 
            </p>
            <p class="year">
                YYYY
            </p>
            <div class="skills-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
       
            </div>
        </div>
        <div class="project-container">
            <img src="{% static './img/picture-1.jpg' %}">
            <h3 class="project-title">Project Name</h3>
            <p class="project-desc">
                A short description of the project.
                <br>
                No more than 3 lines of text. 
            </p>
            <p class="year">
                YYYY
            </p>
            <div class="skills-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
       
            </div>
        </div>
    </div>
</div>


<div class="experience">
    <h1>Experience</h1>
    <div class="project-grid">
        <div class="project-container2">
           
            <h3 class="project-title">Name of the school or company</h3>
            <h4>Course name / Job Position</h4>
            <p class="project-desc">
                A short description of the project.
                No more than 3 lines of text. 
                
            </p>
            <p class="year">
                Month YYYY - Month YYYY
            </p>
            <div class="skills-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
            </div>
        </div>
        <div class="project-container2">
           
            <h3 class="project-title">Name of the school or company</h3>
            <h4>Course name / Job Position</h4>
            <p class="project-desc">
                A short description of the project.
                No more than 3 lines of text. 
                
            </p>
            <p class="year">
                Month YYYY - Month YYYY
            </p>
            <div class="skills-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
            </div>
        </div>
        <div class="project-container2">
           
            <h3 class="project-title">Name of the school or company</h3>
            <h4>Course name / Job Position</h4>
            <p class="project-desc">
                A short description of the project.
                No more than 3 lines of text. 
                
            </p>
            <p class="year">
                Month YYYY - Month YYYY
            </p>
            <div class="skills-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
            </div>
        </div>
        
</div>

<div class="contact">
    <h1>Contact</h1>
    <h3>Feel free to drop me a line below!</h3>
    <div class="contact-cont">
        <form>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your Name" required>
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Your Email" required>
            
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="Subject" required>
            
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Your Message" rows="4" required></textarea>
            
            <div class="buttons">
                <button type="submit" class="send-btn">SEND EMAIL</button>
                <button type="reset" class="reset-btn">RESET</button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}